.loading-spinner span {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(images/loading.gif);
    margin-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.loading-spinner {
    display: none;
}

a {
    text-decoration: underline;
}

#actionList {
    margin: 20px;
    font-size: medium;
}

#copy {
    font-size: medium;
    margin: 10px;
    display: inline-block;
}

.serverId {
    margin: 10px;
    font-size: medium;
    line-height: 1.6;
}
